- name: Setup K3S server
  hosts: server
  become: true
  vars_files:
    - ../group_vars/database.yml
    - ../group_vars/k3s_cluster.yml
  pre_tasks:
    - name: Print a simple debug message
      ansible.builtin.debug:
        msg: "token={{ extra_server_args }}"
