---
# - name: Cluster prep
#   hosts: k3s_cluster
#   gather_facts: true
#   become: true
#   vars_files:
#     - ../group_vars/k3s_cluster.yml
#   roles:
#     - role: k3s.orchestration.prereq
#     # - role: airgap
#     - role: k3s.orchestration.raspberrypi

- name: Setup K3S server
  hosts: server
  become: true
  vars_files:
    - ../group_vars/database.yml
    - ../group_vars/k3s_cluster.yml
  pre_tasks:
    - name: Print a simple debug message
      ansible.builtin.debug:
        msg: "token={{ token | default('foo')}}"
  roles:
    - role: k3s.orchestration.k3s_server

- name: Setup K3S agent
  hosts: agent
  become: true
  vars_files:
    - ../group_vars/k3s_cluster.yml
  roles:
    - role: k3s.orchestration.k3s_agent
